Body {
    background-color: bisque;
}

h1 {
    color: blueviolet;
}

.container {
    background-color: grey;
    padding: 0 20%;
}

.ingredients {
    color: aliceblue;
}

.steps {
    color: brown;
}